@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.25s ease-in;
  background-color: #111;
  color: #fff;
}
